body{background-color:#154360;}
h1{color: white;font-size: 100px;text-shadow: 3px 3px 2px #F1C40F;font-family: 'PT Serif',serif;text-align: center;padding: 10px;margin: 0px;}
footer{background-color: #154360;color: white;font-size: 20px;text-align: center;position: relative;top:250px;}
div{display: inline;text-align: center;position: relative;left:70px;position:relative;top: 100px;}
button{border-radius: 10px;border:solid 5px #1A5276;padding: 30px 50px;margin: 15px;font-family: 'PT Serif',serif;font-size: 60px;color: #F1C40F;text-shadow: 2px 2px 1px white;}
.btn1{background-image: url("crash.png");}
.btn2{background-image: url("kick.png");}
  .btn3{background-image: url("snare.png");}
    .btn4{background-image: url("tom1.png");}
      .btn5{background-image: url("tom2.png");}
        .btn6{background-image: url("tom3.png");}
          .btn7{background-image: url("tom4.png");}
.pressed{
  box-shadow: 0 3px 4px 0 #DBEDF3;opacity: 0.5;
}
